<%- include("header"); -%>

<!-- CONTENT -->
<div class="box" id="heading">
  <h1>About</h1>
</div>

<div class="box">
  <p>Testing blah blah blah. The quick brown fox jumps over the lazy dog.</p>
</div>

<%- include("footer"); -%>
